<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/css/styles.css">

    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
</head> 
<body>
    <div id="header">
            <div class="navbar">
                <div class="logo">
                    <btn>Malaai</btn>
                </div>
            </div>
        
        <div class="gif-container">
            <img src="/static/img/gif.png" alt="Your GIF" id="gif-image">
        </div>
        
        <div class="centered">
            
            <button class="btn"><a href="/login">Getting Started</a></button>
        </div>
    </div>
    
</body>
</html>